#template-content {

  a:link, 
  a:visited, 
  a.yshortcuts {
    color: #000;
    font-weight:normal;
    text-decoration:underline;
  }

  h2 {
    margin-top: 30px;
    margin-bottom: 20px;
  }

  h3 {
    margin-top: 30px;
    margin-bottom: 10px;
  }

  img {
    display:inline;
    height:auto;
    width: 100%;
  }

  p {
    margin: 0 0 20px;
  }

  pre {
    display: block;
    width: 90%;
    overflow-x: scroll;
    background-color: #F5F5F5;
    padding: 15px;
  }

  code {
    background-color: #F5F5F5;
  }


  blockquote {
    margin: 0 0 10px;
    border-left: 5px solid #F5F5F5;
    padding: 5px 10px;
    font-style: italic;
  }


}