@@include('./templates/partials/header.html', {
  "global": {
    "campaign_title": "@@global.campaign_title",
    "campaign_url": "@@global.campaign_url",
    "publisher_name": "@@global.publisher_name",
    "publisher_url": "@@global.publisher_url",
    "page_title": "@@global.page_title"
  }
})


<center id="body-container">
<!-- START TEMAPLTE HEADER /////////////// -->
<table border="0" cellpadding="0" cellspacing="0" id="template-header" width="100%">

  <!-- PREHEADER -->
  <tr class="th-preheader">
    <td align="center" valign="top">
          <table border="0" cellpadding="0" cellspacing="0" id="template-preheader" width="100%">
              <tr>
                  <td mc:edit="preheader_content01" valign="top" width="50%">
                      Introduction
                  </td>
                  <td mc:edit="preheader_content02" valign="top" width="50%">
                      <a href="">View this email in your browser</a>
                  </td>
              </tr>
          </table>
      </td>
  </tr>

  
  <!-- MAIN HEADER -->
  <tr class="th-mainheader">
    <td align="center" valign="top">
        <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template-mainheader">
            <tr>
              <td valign="top">
                  <h1 mc:edit="article_title" class="article-title">
                  @@email.title
                  </h1>
                  <p class="article-subtitle" mc:edit="article_subtitle">
                    @@email.subtitle
                  </p>
              </td>
            </tr>
        </table>
      </td>
  </tr>
</table>
<!-- END TEMAPLTE HEADER /////////////// -->



<!-- START TEMAPLTE CONTENT /////////////// -->
<div class="rssContent" mc:edit="body">
@@if (email.content == '*|FEEDITEM:CONTENT_FULL|*') {
  @@email.content
}

@@if (email.content != '*|FEEDITEM:CONTENT_FULL|*') {
  @@include("@@email.content")
}
</div>
<!-- END TEMAPLTE CONTENT /////////////// -->



<!-- START TEMAPLTE (CONTENT) FOOTER /////////////// -->
<table border="0" cellpadding="0" cellspacing="0" id="template-content-footer" width="100%">
    <tr>
      <td align="center" valign="top">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" id="template-content-footer-container">
                <tr class="content-footer-message">

                    <td valign="top" width="30%" class="profile">
                        <img src="https://gallery.mailchimp.com/282459d63a019df7bb8ca2e92/images/e2db5063-479e-4c00-9a62-8d001fcc0818.png" alt="Profile" style="width: 100%;">
                    </td>

                    <td  width="70%" class="message">
                        <p class="message-head">Thanks for reading, *|FNAME|*</p>
                        <p class="message-body">If you have any comments or feedback, you can <a href="https://twitter.com/ireaderinokun" target="_blank" >tweet me</a> or reply to this email.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
<!-- END TEMAPLTE (CONTENT) FOOTER /////////////// -->



<!-- START TEMAPLTE FOOTER /////////////// -->
<table border="0" cellpadding="0" cellspacing="0" width="100%" id="template-footer">
  <tr>
    <td align="center" valign="top">
      <table border="0" cellpadding="0" cellspacing="0" id="template-footer-content-container">
        <tr>
          <td align="center" valign="top">
            <p>
              This email was sent to <a href="mailto:*|EMAIL|*" target="_blank">*|EMAIL|*</a>
            </p>
            <p>
              <a href="*|ABOUT_LIST|*" target="_blank"><em>why did I get this?</em></a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UNSUB|*">unsubscribe from this list</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="*|UPDATE_PROFILE|*">update subscription preferences</a>
            </p>
            <p>
              <em>Copyright &copy; *|CURRENT_YEAR|* *|LIST:COMPANY|*, All rights reserved.<br>
              *|LIST:ADDRESSLINE|*
              </em>
            </p>
            <p>*|REWARDS|*</p>
          </td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<!-- END TEMAPLTE FOOTER /////////////// -->

</center>

@@include('./templates/partials/footer.html')
